@media screen and (max-width: 670px) {
    .search {
        line-height: 90px;
        top: 0;
    }

    .login {
        top: 0;
        line-height: 90px;
    }

    .menu {
        width: 100%;
        height: auto;
    }
    .menu ul {
        display: block;
    	overflow: hidden;
    	-webkit-transition: max-height 0.3s;
    	-moz-transition: max-height 0.3s;
        -ms-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
    	transition: max-height 0.3s;
        max-height: 0;
    }

    .menu ul a {
        text-align: left;
        height: 40px;
        line-height: 30px;
        margin-right: 40px;
    }
    
    .menu-icon {
        height: inherit;
        display: block;
        position: absolute;
        top: 0;
        right: 15px;
        line-height: 90px;
    }
    
    #menuToggle:checked ~ ul {
        max-height: 350px;
    }
    .menu-icon i {
        font-size: 1.7em;
    }

    .description {
        width: 100%;
    }

    .best-wrapper {
        padding-bottom: 320px;
    }

    .best-wrapper .box-best {
        flex-wrap: wrap;
        overflow: hidden;
        top: 500px;
        right: 50px;
        width: 300px;
        height: auto;
    }

    .best-wrapper img {
        overflow: hidden;
        margin-left: 50px;
        width: auto;
        height: auto;
    }

    .boxlist, .boxlist2 {
        flex-direction: column;
    }

    .boxlist li, .boxlist2 li {
        margin: 0 auto;
    }
    
    .process img {
        margin-top: auto;
        width: 100%;
        height: auto;
    }

    .process-wrapper {
        height: auto;
    }
}




@media (max-width: 1170px) {
    .top-wrapper {
        background-size: cover;
    }

    .description {
        width: 50%;
        margin-bottom: 50px;
    }

    .best-wrapper {
        padding-bottom: 240px;
    }

    .best-wrapper .box-best {
        flex-wrap: wrap;
        overflow: hidden;
        top: 570px;
        right: 50px;
        width: 500px;
    }

    .best-wrapper img {
        overflow: hidden;;
        margin-left: 50px;
    }
    
    .process img {
        width: 100%;
    }
}

